$primary-color: #333131;
$text-color: azure;

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #1a3e2c, #0c1a1b);

    text-align: center;
    margin: 0;
    padding: 0;
    color: $text-color;
}
.App {
    max-width: 1024px;
    margin: 0 auto;
}
.game-board {
    display: grid;
    margin: 0 auto;
    margin-top: 40px;
    width: 80%;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
@media screen and (max-width: 800px) {
    .game-board {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 500px) {
    .game-board {
        grid-template-columns: repeat(2, 1fr);
    }
}
